<section class="md:m-4 flex md:flex-row flex-col">
  <div
    class="p-4 md:p-12 space-y-4 text-center flex flex-col items-center md:text-left"
  >
    <h1 class="text-xl font-semibold">CONTACTO</h1>
    <p>Foro Internacional de Mujeres | Asociación Civil</p>
    <img class="w-1/2 md:w-full" src="/logo.png" alt="" />
  </div>
  <form
    (ngSubmit)="onSubmit()"
    class="flex p-5 md:p-12 flex-col space-y-3 w-full"
    [formGroup]="contactForm"
  >
    <label for="name">Nombre:</label>
    <input
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      formControlName="name"
    />
    <label for="email">Email:</label>
    <input
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="email"
      formControlName="email"
    />
    <label for="phone">Teléfono:</label>
    <input
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      formControlName="phone"
    />
    <label for="message">Mensaje:</label>
    <textarea
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      rows="4"
      formControlName="message"
    ></textarea>
    <button type="submit" class="md:w-40 btn-primary-light">
      Enviar Mensaje
    </button>
  </form>
</section>
