<section class="md:m-4 flex md:flex-row flex-col">
  <div
    class="p-4 md:p-12 space-y-4 text-center flex flex-col items-center md:text-left"
  >
    <h1 class="text-xl font-semibold">CONTACTO</h1>
    <p>Foro Internacional de Mujeres | Asociación Civil</p>
    <img class="w-1/2 md:w-full" src="/logo.png" alt="" />
  </div>
  <form
    (ngSubmit)="onSubmit()"
    class="flex p-5 md:p-12 flex-col space-y-3 w-full"
    [formGroup]="contactForm"
  >
    <label for="name">Nombre:</label>
    <input
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      formControlName="name"
    />
    @if(contactForm.get('name')?.invalid && (submitted ||
    contactForm.get('name')?.touched)){
    <div class="text-purpleiw text-sm">Su nombre es requerido.</div>
    }
    <label for="email">Email:</label>
    <input
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="email"
      formControlName="email"
    />
    @if(contactForm.get('email')?.invalid && (submitted ||
    contactForm.get('email')?.touched)){
    <div class="text-purpleiw text-sm">Su email es requerido.</div>
    }
    <label for="phone">Teléfono:</label>
    <input
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      formControlName="phone"
    />
    <label for="message">Mensaje:</label>
    <textarea
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      rows="4"
      formControlName="message"
    ></textarea>
    @if(contactForm.get('message')?.invalid && (submitted ||
    contactForm.get('message')?.touched)){
    <div class="text-purpleiw text-sm">El mensaje es requerido.</div>
    } @if (creating) {
    <div>Enviando...</div>
    } @else { @if(contactForm.invalid && submitted) {
    <div class="text-purpleiw text-sm">
      Por favor rellenar los campos necesarios.
    </div>
    }}

    <button
      type="submit"
      class="md:w-40 btn-primary-light"
      [disabled]="creating"
    >
      Enviar Mensaje
    </button>
  </form>
</section>

<app-success
  [show]="showSuccessModal"
  message="Gracias por su mensaje!"
  (close)="showSuccessModal = false"
></app-success>
