<div class="flex justify-between">
  <h1 class="text-center md:text-xl font-bold p-4 text-orange-500">
    Panel de Control
  </h1>
  <div>
    <button
      class="bg-orange-500 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-600 disabled:opacity-50"
      (click)="onStatusChange('members')"
    >
      Miembros
    </button>
    <button
      class="bg-orange-500 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-600 disabled:opacity-50"
      (click)="onStatusChange('actividades')"
    >
      Actividades
    </button>
    <button
      class="bg-orange-500 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-600 disabled:opacity-50"
      (click)="onStatusChange('noticias')"
    >
      Noticias
    </button>
    <button
      class="bg-orange-500 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-600 disabled:opacity-50"
      (click)="onStatusChange('trayectoria')"
    >
      Trayectoria
    </button>
  </div>
  <button
    class="bg-orange-500 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-600 disabled:opacity-50"
    (click)="onSignOut()"
  >
    Cerrar Sesión
  </button>
</div>
@if (status === 'members') {<app-members [members]="members"></app-members>} @if
(status === 'trayectoria') {<app-events-db
  [category]="status"
  [events]="trayectoria"
></app-events-db
>} @if (status === 'noticias') {<app-events-db
  [events]="noticias"
  [category]="status"
></app-events-db
>} @if (status === 'actividades') {<app-events-db
  [events]="actividades"
  [category]="status"
></app-events-db
>}
