<nav
  class="flex flex-wrap justify-between items-center p-4 mb-12 bg-white shadow-md"
>
  <h1
    class="text-center md:text-xl font-bold text-orangeiw flex-1 md:flex-none"
  >
    Panel de Control
  </h1>
  <div
    class="flex flex-wrap space-x-4 mt-2 md:mt-0 flex-1 md:flex-none justify-center md:justify-start"
  >
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      [ngClass]="{
        'font-semibold underline text-orangeiw': status === 'members'
      }"
      (click)="onStatusChange('members')"
    >
      Miembros
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      [ngClass]="{
        'font-semibold underline text-orangeiw': status === 'actividades'
      }"
      (click)="onStatusChange('actividades')"
    >
      Actividades
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      [ngClass]="{
        'font-semibold underline text-orangeiw': status === 'noticias'
      }"
      (click)="onStatusChange('noticias')"
    >
      Noticias
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      [ngClass]="{
        'font-semibold underline text-orangeiw': status === 'trayectoria'
      }"
      (click)="onStatusChange('trayectoria')"
    >
      Trayectoria
    </button>
  </div>
  <div
    class="flex flex-wrap space-x-4 mt-2 md:mt-0 flex-1 md:flex-none justify-center md:justify-end"
  >
    <button
      class="flex items-center space-x-1 text-sm hover:underline hover:text-orangeiw focus:outline-none"
      [ngClass]="{
        'font-semibold underline text-orangeiw': status === 'messages'
      }"
      (click)="onStatusChange('messages')"
    >
      <span>Mensajes</span>
      <i class="bi bi-envelope"></i>
    </button>

    <button
      class="flex items-center space-x-1 text-sm hover:underline hover:text-orangeiw focus:outline-none"
      [ngClass]="{
        'font-semibold underline text-orangeiw': status === 'create'
      }"
      (click)="onStatusChange('create')"
    >
      <span>Crear</span>
      <i class="bi bi-plus-circle-fill"></i>
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      (click)="onSignOut()"
    >
      Cerrar Sesión
    </button>
  </div>
</nav>

@if (status === 'members') {<app-members [members]="members"></app-members>} @if
(status === 'trayectoria') {<app-events-db
  [category]="status"
  [events]="trayectoria"
></app-events-db
>} @if (status === 'noticias') {<app-events-db
  [events]="noticias"
  [category]="status"
></app-events-db
>} @if (status === 'actividades') {<app-events-db
  [events]="actividades"
  [category]="status"
></app-events-db
>} @if (status === 'create') {<app-create
  (memberCreated)="onMemberCreated()"
  (eventCreated)="onEventCreated()"
></app-create>
} @if (status === 'messages') {
<app-messages
  [contacts]="contacts"
  [totalContacts]="totalContacts"
  (offsetChange)="onOffsetChange($event)"
></app-messages>
}
