<nav
  class="flex flex-wrap justify-between items-center p-4 mb-12 bg-white shadow-md"
>
  <h1
    class="text-center md:text-xl font-bold text-orangeiw flex-1 md:flex-none"
  >
    Panel de Control
  </h1>
  <div
    class="flex flex-wrap space-x-4 mt-2 md:mt-0 flex-1 md:flex-none justify-center md:justify-start"
  >
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      routerLink="members"
      routerLinkActive="active"
    >
      Miembros
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      routerLink="actividades"
      routerLinkActive="active"
    >
      Actividades
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      routerLink="noticias"
      routerLinkActive="active"
    >
      Noticias
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      routerLink="trayectoria"
      routerLinkActive="active"
    >
      Trayectoria
    </button>
  </div>
  <div
    class="flex flex-wrap space-x-4 mt-2 md:mt-0 flex-1 md:flex-none justify-center md:justify-end"
  >
    <button
      class="flex items-center space-x-1 text-sm hover:underline hover:text-orangeiw focus:outline-none"
      routerLink="messages"
      routerLinkActive="active"
    >
      <span>Mensajes</span>
      <i class="bi bi-envelope"></i>
    </button>

    <button
      class="flex items-center space-x-1 text-sm hover:underline hover:text-orangeiw focus:outline-none"
      routerLink="create"
    >
      <span>Crear</span>
      <i class="bi bi-plus-circle-fill"></i>
    </button>
    <button
      class="text-sm hover:underline hover:text-orangeiw focus:outline-none"
      (click)="onSignOut()"
    >
      Cerrar Sesión
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
