<nav class="bg-white shadow-lg py-4">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-around h-20">
      <div class="flex-shrink-0">
        <img
          routerLink="/"
          class="w-auto cursor-pointer"
          src="logo-desktop-50.png"
          alt="Logo"
        />
      </div>
      <div class="flex-1 flex justify-end items-center">
        <div class="hidden md:block text-end">
          <button routerLink="/contact" class="btn-primary-light">
            CONTACTO
          </button>
          <div class="flex space-x-4 items-center">
            <a routerLink="/iwf" class="px-3 py-2 hover-underline"
              >IWF ARGENTINA</a
            >
            <a routerLink="/actividades" class="px-3 py-2 hover-underline"
              >ACTIVIDADES</a
            >
            <a routerLink="/noticias" class="px-3 py-2 hover-underline"
              >NOTICIAS</a
            >
            <a routerLink="/trayectoria" class="px-3 py-2 hover-underline"
              >TRAYECTORIA</a
            >
            <a routerLink="/socias" class="px-3 py-2 hover-underline">SOCIAS</a>
          </div>
        </div>
      </div>
      <div class="flex items-center">
        <button
          type="button"
          (click)="toggleMenu()"
          class="md:hidden inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white ml-3"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="md:hidden"
    id="mobile-menu"
    [class]="{ block: isMenuOpen, hidden: !isMenuOpen }"
  >
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a
        routerLink="/iwf"
        class="hover:text-white block px-3 py-2 rounded-md text-base"
        >IWF ARGENTINA</a
      >
      <a
        routerLink="/actividades"
        class="hover:text-white block px-3 py-2 rounded-md text-base"
        >ACTIVIDADES</a
      >
      <a
        routerLink="/noticias"
        class="hover:text-white block px-3 py-2 rounded-md text-base"
        >NOTICIAS</a
      >
      <a
        routerLink="/trayectoria"
        class="hover:text-white block px-3 py-2 rounded-md text-base"
        >TRAYECTORIA</a
      >
      <button routerLink="/contact" class="btn-primary-light">CONTACTO</button>
    </div>
  </div>
</nav>
