<section
  class="h-[calc(100vh-7rem)] flex flex-col items-center justify-between space-y-3 overflow-hidden"
>
  <div class="relative flex w-screen h-full flex-1 overflow-hidden">
    <div
      class="w-1/2 flex flex-col items-center justify-center overflow-hidden space-y-3"
    >
      <h1 class="text-xl lg:text-6xl tracking-wide appear-animation my-6">
        {{ text[index] }}
      </h1>
      <div class="m-4 text-center">
        <h1 class="text-xl md:text-4xl font-serif text-orangeiw">
          International Women's Forum
        </h1>
        <p class="text-md md:text-xl font-light hidden sm:block">
          20 años potenciando el
          <strong>liderazgo femenino</strong> en Argentina.
        </p>
      </div>
    </div>
    <div class="w-1/2 flex justify-center gap-24 px-12">
      <div class="flex flex-1 flex-col space-y-12">
        <div class="animate-loop-scroll space-y-12">
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero1.png"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero2.jpg"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero3.jpg"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero4.jpg"
            alt="1"
          />
        </div>
        <div class="animate-loop-scroll space-y-12" aria-hidden="true">
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero1.png"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero2.jpg"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero3.jpg"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/hero4.jpg"
            alt="1"
          />
        </div>
      </div>
      <div class="flex flex-1 flex-col space-y-12">
        <div class="animate-loop-scroll-back space-y-12">
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-1.png"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-2.jpg"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-3.png"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-4.jpg"
            alt="1"
          />
        </div>
        <div class="animate-loop-scroll-back space-y-12" aria-hidden="true">
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-1.png"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-2.jpg"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-3.png"
            alt="1"
          />
          <img
            class="w-full aspect-square object-cover rounded-full shadow-lg"
            src="/home-4.jpg"
            alt="1"
          />
        </div>
      </div>
    </div>
  </div>

  <p class="text-md text-center md:text-2xl py-3">
    +7000 líderes | 35 países | 76 foros locales
  </p>
</section>
