<main class="scroll-smooth">
  <section
    class="min-h-[calc(100vh-4rem)] p-4 flex flex-col items-center justify-around space-y-3 bg-orange-100/30"
  >
    <div class="text-center space-y-5">
      <h1 class="text-4xl text-orange-500">International Women's Forum</h1>
      <p class="font-serif text-xl">
        Potenciamos el
        <strong>liderazgo femenino</strong> a nivel mundial y local.
      </p>
    </div>
    <div class="relative">
      <img class="" src="" alt="1" /><img src="" alt="2" /><img
        src=""
        alt="3"
      /><img src="" alt="4" />
    </div>
    <p class="text-lg">+7000 líderes | 35 países | 76 foros locales</p>
  </section>
  <section
    class="h-screen p-4 flex flex-col items-center justify-around space-y-3"
  >
    <h2 class="text-2xl border-b-2 border-orange-500">NUESTRA MISIÓN</h2>
    <img class="rounded-t-full" src="/iwforum1.jpeg" alt="Image" />
    <p class="text-center font-serif text-xl">
      La misión del IWF es fomentar las características de liderazgo en las
      mujeres y proveer un lugar en donde se intercambian experiencias de
      significativa importancia para las socias en conferencias y diferentes
      actividades.
    </p>
  </section>
  <img class="" src="/iwforum2.png" alt="IWForum" />
  <section class="my-12 flex flex-col justify-around items-center space-y-3">
    <h3 class="text-2xl border-b-2 border-orange-500">NUESTROS VALORES</h3>
    <ul class="font-serif py-5 px-12 space-y-3 list-disc text-lg">
      <li>
        Enfatizar el rol del <strong>liderazgo</strong> femenino (pasado,
        presente y futuro).
      </li>
      <li><strong>Respetar</strong> distintos puntos de vista.</li>
      <li>Compartir conocimientos e ideas.</li>
      <li>
        Respaldar una red global, nacional y local de
        <strong>mujeres líderes</strong>.
      </li>
      <li>
        Participar del crecimiento de las generaciones de mujeres líderes
        <strong>futuras</strong>.
      </li>
    </ul>
    <button
      routerLink="/iwf"
      class="bg-orange-500 text-white px-3 py-2 rounded-md text-sm font-medium"
    >
      Conocer más
    </button>
  </section>
</main>
