<section class="m-12">
  <button
    type="submit"
    class="bg-orange-500 text-white flex items-center space-x-1 py-2 px-4 rounded-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
    (click)="navigateBack()"
  >
    <i class="bi bi-arrow-left-circle-fill"></i><span>Dashboard</span>
  </button>
  @if (data && data.length === 0) {
  <p>Este miembro no existe.</p>
  } @if (data && data.length > 0) {
  <form
    action=""
    [formGroup]="memberForm"
    (ngSubmit)="onSubmitUpdate()"
    class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-md space-y-4"
  >
    <h2 class="text-2xl font-bold mb-4">MIEMBROS</h2>
    <div class="flex flex-col">
      <label for="name" class="mb-2 font-semibold text-gray-700">Nombre:</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      />
      @if(memberForm.get('name')?.invalid && (memberForm.get('name')?.dirty ||
      memberForm.get('name')?.touched)){
      <div class="text-red-600 text-sm">Nombre es requerido.</div>
      }
    </div>
    <div class="flex flex-col">
      <label for="title" class="mb-2 font-semibold text-gray-700"
        >Titulo:</label
      >
      <textarea
        id="title"
        type="text"
        rows="2"
        formControlName="title"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      ></textarea>
      @if(memberForm.get('title')?.invalid && (memberForm.get('title')?.dirty ||
      memberForm.get('title')?.touched)){
      <div class="text-red-600 text-sm">Título es requerido.</div>
      }
    </div>
    <div class="flex flex-col">
      <label for="avatar" class="mb-2 font-semibold text-gray-700"
        >Avatar:</label
      >
      <input
        id="avatar"
        type="text"
        formControlName="avatar"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="role" class="mb-2 font-semibold text-gray-700"
        >Categoría:</label
      >
      <select
        id="role"
        formControlName="role"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      >
        <option value="socias">Socias</option>
        <option value="autoridades">Autoridades</option>
      </select>
      @if(memberForm.get('role')?.invalid && (memberForm.get('role')?.dirty ||
      memberForm.get('role')?.touched)){
      <div class="text-red-600 text-sm">Categoría es requerida.</div>
      }
    </div>
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
      >
        Actualizar Miembro
      </button>
    </div>
  </form>
  }
</section>

<app-success
  [show]="showSuccessModal"
  [message]="successMessage"
  (close)="onModalClose()"
></app-success>
