<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
  *ngIf="show"
>
  <div class="rounded-lg p-6 shadow-lg w-11/12 max-w-md bg-whiteiw">
    <div class="flex justify-between items-center">
      <h2 class="text-xl font-bold text-orangeiw">Éxito!</h2>
      <button class="text-orangeiw hover:text-orangeiw" (click)="closeModal()">
        &times;
      </button>
    </div>
    <p class="mt-4 text-gray-700">{{ message }}</p>
    <button class="mt-6 btn-primary-light" (click)="closeModal()">OK</button>
  </div>
</div>
