<div class="container mx-auto">
  <div class="flex justify-between mb-4">
    <h2 class="text-2xl font-bold mb-4">{{ category.toUpperCase() }}</h2>
    <input
      class="p-1 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      type="text"
      placeholder="Buscar por título"
      [(ngModel)]="searchTerm"
    />
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border-gray-200 shadow">
      <thead class="bg-gray-100">
        <tr>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Titulo
            <i (click)="sort('title')" class="bi bi-arrow-down-up"></i>
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Año
            <i (click)="sort('year')" class="bi bi-arrow-down-up"></i>
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Modificar
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        @for (event of search(); track $index) {
        <tr class="border-t border-gray-200">
          <td class="px-6 py-4 whitespace-nowrap">{{ event.title }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ event.year }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button
              class="bg-orange-500 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-600 disabled:opacity-50"
              (click)="onUpdate(event.id)"
            >
              <i class="bi bi-pencil-fill"></i>
            </button>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <button
              class="bg-orange-800 text-sm p-4 m-4 text-white py-2 rounded-md hover:bg-orange-900 disabled:opacity-50"
              (click)="onDelete('events', event.id, 'events', 'picture')"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
