<main>
  <h1
    class="text-center text-xl md:text-3xl font-bold m-6 md:m-12 text-orange-500"
  >
    NOTICIAS
  </h1>
  @defer {
  <section class="p-6 flex flex-wrap justify-center gap-6">
    @for (noticia of noticias; track $index) {
    <div class="w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]">
      <app-imagecard
        [title]="noticia.title"
        [photo]="noticia.picture"
        [subtitle]="noticia.subtitle"
      ></app-imagecard>
    </div>
    }
  </section>
  } @loading {
  <div class="p-6 flex justify-center">Loading...</div>
  }
</main>
