<main class="scroll-smooth">
  <app-hero></app-hero>
  <section class="flex flex-col items-center justify-around h-screen mt-4">
    <div class="flex flex-col items-center">
      <h2 class="text-xl md:text-2xl border-b-2 border-orangeiw my-12">
        NUESTRA MISIÓN
      </h2>
      <p class="text-center text-lg md:text-xl lg:w-2/3 m-4">
        La misión del IWF es fomentar las características de liderazgo en las
        mujeres y proveer un lugar en donde se intercambian experiencias de
        significativa importancia para las socias en conferencias y diferentes
        actividades.
      </p>
    </div>
    <div class="container mx-auto px-4 py-8 lg:w-2/3">
      <div
        class="flex flex-wrap lg:flex-nowrap justify-center gap-12 font-serif text-2xl text-center"
      >
        <div class="basis-1/2 lg:basis-1/3 space-y-4">
          <img
            src="home-1.png"
            alt="Image 1"
            class="w-full h-auto object-cover max-w-[612px] rounded-t-full"
          />
          <p
            class="hover:font-extrabold cursor-pointer"
            (click)="navigateTo('actividades')"
          >
            Actividades <i class="bi bi-arrow-right"></i>
          </p>
          <div class="w-full h-1 bg-orangeiw"></div>
        </div>
        <div class="basis-1/2 lg:basis-1/3 space-y-4">
          <img
            src="home-2.jpg"
            alt="Image 2"
            class="w-full h-auto object-cover max-w-[612px] rounded-t-full"
          />
          <p
            class="hover:font-extrabold cursor-pointer"
            (click)="navigateTo('noticias')"
          >
            Noticias <i class="bi bi-arrow-right"></i>
          </p>
          <div class="w-full h-1 bg-orangeiw"></div>
        </div>
        <div class="basis-1/2 lg:basis-1/3 space-y-4">
          <img
            src="home-3.png"
            alt="Image 3"
            class="w-full h-auto object-cover max-w-[612px] rounded-t-full"
          />
          <p
            class="hover:font-extrabold cursor-pointer"
            (click)="navigateTo('socias')"
          >
            Socias <i class="bi bi-arrow-right"></i>
          </p>
          <div class="w-full h-1 bg-orangeiw"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative bg-orangeiw">
    <img
      ngSrc="/home-4.jpg"
      width="1200"
      height="800"
      priority
      alt="IWF Conference Photo"
      class="w-full"
    />
    <div
      class="lg:absolute lg:top-0 lg:right-0 lg:w-1/2 bg-pasteliw flex justify-between"
    >
      <div class="flex flex-col p-8 w-full justify-evenly space-y-8">
        <h3 class="font-semibold tracking-wider">NUESTROS VALORES</h3>
        <ul class="space-y-3 list-disc lg:text-md">
          <li>
            Enfatizar el rol del <strong>liderazgo</strong> femenino (pasado,
            presente y futuro).
          </li>
          <li><strong>Respetar</strong> distintos puntos de vista.</li>
          <li>Compartir conocimientos e ideas.</li>
          <li>
            Respaldar una red global, nacional y local de
            <strong>mujeres líderes</strong>.
          </li>
          <li>
            Participar del crecimiento de las generaciones de mujeres líderes
            <strong>futuras</strong>.
          </li>
        </ul>
        <button
          (click)="navigateTo('iwf')"
          class="text-start text-md hover:font-bold"
        >
          CONOCER MÁS
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </section>
</main>
