<main class="scroll-smooth">
  <app-hero></app-hero>

  <section class="flex flex-col items-center justify-around m-12">
    <h2
      class="text-xl md:text-3xl font-semibold border-b-2 border-orange-600 my-12"
    >
      NUESTRA MISIÓN
    </h2>
    <p class="text-center text-lg md:text-2xl lg:w-1/2">
      La misión del IWF es fomentar las características de liderazgo en las
      mujeres y proveer un lugar en donde se intercambian experiencias de
      significativa importancia para las socias en conferencias y diferentes
      actividades.
    </p>
    <img
      class="rounded-full max-w-full md:w-1/2 h-auto my-12"
      src="/iwforum1.jpeg"
      alt="Image"
    />
  </section>
  <section class="flex flex-col justify-around items-center">
    <img class="max-w-full h-auto" src="/iwforum2.png" alt="IWForum" />
    <h3
      class="my-6 text-2xl md:text-3xl border-b-2 font-semibold border-orange-600"
    >
      NUESTROS VALORES
    </h3>
    <ul class="py-5 px-12 space-y-3 list-disc text-lg md:text-2xl">
      <li>
        Enfatizar el rol del <strong>liderazgo</strong> femenino (pasado,
        presente y futuro).
      </li>
      <li><strong>Respetar</strong> distintos puntos de vista.</li>
      <li>Compartir conocimientos e ideas.</li>
      <li>
        Respaldar una red global, nacional y local de
        <strong>mujeres líderes</strong>.
      </li>
      <li>
        Participar del crecimiento de las generaciones de mujeres líderes
        <strong>futuras</strong>.
      </li>
    </ul>
    <button
      (click)="navigateTo()"
      class="bg-orange-600 text-white px-3 py-2 my-6 md:text-lg md:tracking-wider rounded-md font-medium"
    >
      Conocer más
    </button>
  </section>
</main>
