<main>
  <h1
    class="text-center text-xl md:text-3xl font-bold my-6 md:m-12 text-orange-500"
  >
    ACTIVIDADES
  </h1>
  <section class="p-6 flex flex-wrap justify-center gap-6">
    @for (actividad of actividades; track $index) {
    <div class="w-full sm:w-[calc(50%-1rem)] lg:w-[calc(33.333%-1rem)]">
      <app-imagecard
        [title]="actividad.title"
        [photo]="actividad.picture"
        [subtitle]="actividad.subtitle"
      ></app-imagecard>
    </div>
    }
  </section>
</main>
