<!-- MEMBERS FORM -->
<div class="flex items-center justify-center space-x-4">
  <button
    class="text-sm text-gray-700 hover:underline hover:text-orange-700 focus:outline-none"
    [ngClass]="{
      'font-semibold underline text-orange-700': mode === true
    }"
    (click)="mode = true"
  >
    EVENTOS
  </button>
  <button
    class="text-sm text-gray-700 hover:underline hover:text-orange-700 focus:outline-none"
    [ngClass]="{
      'font-semibold underline text-orange-700': mode === false
    }"
    (click)="mode = false"
  >
    MIEMBROS
  </button>
</div>
@if (!mode) {
<form
  action=""
  [formGroup]="memberForm"
  (ngSubmit)="onSubmitMember()"
  class="m-12 p-6 bg-white shadow-md rounded-md space-y-4"
>
  <h2 class="text-2xl font-bold mb-4">MIEMBROS</h2>
  <div class="flex flex-col">
    <label>Categoría</label>
    <!-- Insert chips material angular -->
  </div>
  <div class="flex flex-col">
    <label for="name" class="mb-2 font-semibold text-gray-700">Nombre:</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
    @if(memberForm.get('name')?.invalid && (submitted ||
    memberForm.get('name')?.touched)){
    <div class="text-red-600 text-sm">Nombre es requerido.</div>
    }
  </div>
  <div class="flex flex-col">
    <label for="title" class="mb-2 font-semibold text-gray-700">Titulo:</label>
    <textarea
      id="title"
      type="text"
      rows="2"
      formControlName="title"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    ></textarea>
    @if(memberForm.get('title')?.invalid && (submitted ||
    memberForm.get('title')?.touched)){
    <div class="text-red-600 text-sm">Título es requerido.</div>
    }
  </div>
  <div class="flex flex-col">
    <label for="linkedin" class="mb-2 font-semibold text-gray-700"
      >Linkedin:</label
    >
    <input
      id="linkedin"
      type="text"
      formControlName="linkedin"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
  </div>
  <div class="flex flex-col">
    <label for="avatar" class="mb-2 font-semibold text-gray-700">Avatar:</label>
    <input
      id="avatar"
      type="file"
      (change)="onFileSelected($event)"
      accept="image/jpeg, image/png, image/jpg"
      formControlName="avatar"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
  </div>
  <div class="flex flex-col">
    <label for="role" class="mb-2 font-semibold text-gray-700">Rol:</label>
    <select
      id="role"
      formControlName="role"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    >
      <option value="socias">Socias</option>
      <option value="autoridades">Autoridades</option>
    </select>
    @if(memberForm.get('role')?.invalid && (submitted ||
    memberForm.get('role')?.touched)){
    <div class="text-red-600 text-sm">Categoría es requerida.</div>
    }
  </div>
  <div class="flex justify-end">
    @if (creating) {
    <div>Creando...</div>
    } @if (!creating) { @if(memberForm.invalid && submitted) {
    <div class="text-red-600 text-sm">
      Por favor rellenar los campos necesarios.
    </div>
    }
    <button
      type="submit"
      [disabled]="creating"
      class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
    >
      Crear Miembro</button
    >}
  </div>
</form>

}

<!-- EVENTOS FORM -->
@if (mode) {
<form
  action=""
  [formGroup]="eventForm"
  (ngSubmit)="onSubmitEvent()"
  class="m-12 p-6 bg-white shadow-lg rounded-md space-y-4"
>
  <h2 class="text-2xl font-bold mb-4">EVENTOS</h2>
  <div class="flex flex-col">
    <label for="category" class="mb-2 font-semibold text-gray-700"
      >Categoría:</label
    >
    <select
      id="category"
      formControlName="category"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    >
      <option value="trayectoria">Trayectoria</option>
      <option value="noticias">Noticias</option>
      <option value="actividades">Actividades</option>
    </select>
    @if(eventForm.get('category')?.invalid && (submitted ||
    eventForm.get('category')?.touched)){
    <div class="text-red-600 text-sm">Categoría es requerida.</div>
    }
  </div>
  <div class="flex flex-col">
    <label for="title" class="mb-2 font-semibold text-gray-700">Título:</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
    @if(eventForm.get('title')?.invalid && (submitted ||
    eventForm.get('title')?.touched)){
    <div class="text-red-600 text-sm">Título es requerido.</div>
    }
  </div>
  <div class="flex flex-col">
    <label for="subtitle" class="mb-2 font-semibold text-gray-700"
      >Subtítulo:</label
    >
    <input
      id="subtitle"
      type="text"
      formControlName="subtitle"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
  </div>
  <div class="flex flex-col">
    <label for="picture" class="mb-2 font-semibold text-gray-700"
      >Imágen:</label
    >
    <input
      id="picture"
      type="file"
      (change)="onEventFileSelected($event)"
      accept="image/jpeg, image/png, image/jpg"
      formControlName="picture"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
  </div>
  <div class="flex flex-col">
    <label for="year" class="mb-2 font-semibold text-gray-700">Año:</label>
    <input
      id="year"
      type="number"
      formControlName="year"
      class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
    />
    @if(eventForm.get('year')?.invalid && (submitted ||
    eventForm.get('year')?.touched)){
    <div class="text-red-600 text-sm">Categoría es requerida.</div>
    }
  </div>

  <div>
    <label for="description" class="mb-2 font-semibold text-gray-700"
      >Descripción:</label
    >
    <ckeditor
      formControlName="description"
      [editor]="Editor"
      [config]="editorConfig"
      tagName="textarea"
    ></ckeditor>
  </div>

  <div class="flex justify-end">
    @if (creating) {
    <div>Creando...</div>
    } @else { @if(eventForm.invalid && submitted) {
    <div class="text-red-600 text-sm">
      Por favor rellenar los campos necesarios.
    </div>
    }

    <button
      type="submit"
      (ngSubmit)="onSubmitEvent()"
      class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
    >
      Crear Evento</button
    >}
  </div>
</form>
}

<app-success
  [show]="showSuccessModal"
  [message]="successMessage"
  (close)="showSuccessModal = false"
></app-success>
