<div class="container mx-auto">
  <div class="flex justify-between mb-4 mx-4 md:flex-row flex-col">
    <h2 class="text-2xl font-bold">MENSAJES</h2>
  </div>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border-gray-200 shadow">
      <thead class="bg-gray-100">
        <tr>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Nombre
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Email
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Telefono
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Leído
          </th>
          <!-- <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Eliminar
          </th> -->
        </tr>
      </thead>
      <tbody>
        @if (contacts.length === 0) {
        <td colspan="5" class="px-6 py-4">No hay mensajes...</td>
        } @for (contact of contacts; track $index; let count = $count) {
        <tr class="border-t border-gray-200 cursor-pointer">
          <td class="px-6 py-4 whitespace-nowrap">
            {{ contact.name }}
          </td>
          <td class="px-6 py-4">{{ contact.email }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ contact.phone }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap" (click)="onRead(contact.id)">
            @if (contact.viewed === false) {
            <span class="text-orangeiw"> NO </span>
            } @else {
            <span class="text-orangeiw"> SI </span>
            }
          </td>
          <td
            class="text-orangeiw"
            (click)="
              selectedContactId = selectedContactId === $index ? null : $index
            "
          >
            <i class="bi bi-caret-down-fill"></i>
          </td>
          <!-- <td class="px-6 py-4 whitespace-nowrap">
            <button
              class="text-orangeiw text-sm p-4 m-4 py-2 rounded-md hover:text-blueiw disabled:opacity-50"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </td> -->
        </tr>
        @if (selectedContactId === $index) {
        <tr>
          <td colspan="5" class="px-6 py-4">
            {{ contact.message }}
          </td>
        </tr>
        } }
      </tbody>
    </table>
    <div class="my-4 text-end">
      <div class="pagination-info">
        {{ startIndex }} - {{ endIndex }} de {{ totalContacts }} mensajes.
      </div>
      <div class="space-x-2">
        <button
          [ngClass]="{
            'btn-primary-disabled': currentPage === 0,
            'btn-primary-light': currentPage !== 0
          }"
          (click)="prevPage()"
          [disabled]="currentPage === 0"
        >
          <i class="bi bi-caret-left"></i>
        </button>
        <button
          [ngClass]="
            (currentPage + 1) * pageSize >= totalContacts!
              ? 'btn-primary-disabled'
              : 'btn-primary-light'
          "
          [disabled]="(currentPage + 1) * pageSize >= totalContacts!"
          (click)="nextPage()"
        >
          <i class="bi bi-caret-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
