/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border-radius: 0.3rem;
  background-color: orange;
  padding: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  @apply text-darkgrayiw;
}

.btn-primary-light {
  @apply bg-orangeiw text-whiteiw py-1 px-6 rounded-full hover:bg-blueiw my-2;
}

.btn-primary-disabled {
  @apply bg-orangeiw/10 text-whiteiw py-1 px-6 rounded-full my-2;
}

.hover-underline {
  @apply hover:decoration-orangeiw hover:underline hover:underline-offset-4;
}

.ckeditor-container .ck-editor__editable {
  font-size: 1rem; /* Ensure text size */
  min-height: 400px; /* Ensure minimum height */
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Ensure box-sizing is consistent */
}

.ckeditor-container .ck-toolbar {
  display: flex;
  flex-wrap: wrap; /* Ensure toolbar items wrap correctly */
}

.ckeditor-container .ck-button {
  font-size: 0.875rem; /* Adjust button size */
}

.ckeditor-container .ck-button__label {
  font-size: 0.75rem; /* Adjust button label size */
}
