/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border-radius: 0.3rem;
  background-color: orange;
  padding: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  @apply text-darkgrayiw;
}

.btn-primary-light {
  @apply bg-orangeiw text-whiteiw py-1 px-6 rounded-full text-sm hover:bg-blueiw my-2;
}

.hover-underline {
  @apply hover:decoration-orangeiw hover:underline hover:underline-offset-4;
}
