<main>
  <h1
    class="text-center text-xl md:text-3xl font-semibold m-6 md:m-12 text-orange-500"
  >
    TRAYECTORIA
  </h1>
  @defer {
  <section class="flex flex-col gap-4 p-4">
    @for (evento of eventos; track $index) {
    <div class="flex items-center">
      <div class="m-5">{{ evento.year }}</div>
      <div
        class="bg-white border-l-4 border-orange-400 shadow-lg rounded-lg p-6 transition duration-300 hover:shadow-2xl hover:border-orange-600 w-full"
      >
        <h6 class="text-lg font-semibold mb-1 text-orange-500">
          {{ evento.title.toUpperCase() }}
        </h6>
        <p class="text-gray-600">{{ evento.description }}</p>
      </div>
    </div>
    }
  </section>
  } @loading {
  <div>Loading...</div>
  }
</main>
