<section class="m-12">
  <button type="submit" class="btn-primary-light" (click)="navigateBack()">
    <i class="bi bi-arrow-left-circle-fill"></i><span> Dashboard</span>
  </button>
  @if (data && data.length === 0) {
  <p>Este evento no existe</p>
  } @if(data && data.length > 0) {
  <form
    action=""
    [formGroup]="eventForm"
    (ngSubmit)="onSubmitEvent()"
    class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-md space-y-4"
  >
    <h2 class="text-2xl font-bold mb-4">EVENTOS</h2>
    <div class="flex flex-col">
      <label for="category" class="mb-2 font-semibold text-gray-700"
        >Categoría:</label
      >
      <select
        id="category"
        formControlName="category"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orangeiw"
      >
        <option value="trayectoria">Trayectoria</option>
        <option value="noticias">Noticias</option>
        <option value="actividades">Actividades</option>
      </select>
      @if(eventForm.get('category')?.invalid &&
      (eventForm.get('category')?.dirty || eventForm.get('category')?.touched)){
      <div class="text-red-600 text-sm">Categoría es requerida.</div>
      }
    </div>
    <div class="flex flex-col">
      <label for="title" class="mb-2 font-semibold text-gray-700"
        >Título:</label
      >
      <input
        id="title"
        type="text"
        formControlName="title"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orangeiw"
      />
      @if(eventForm.get('title')?.invalid && (eventForm.get('title')?.dirty ||
      eventForm.get('title')?.touched)){
      <div class="text-red-600 text-sm">Título es requerido.</div>
      }
    </div>
    <div class="flex flex-col">
      <label for="subtitle" class="mb-2 font-semibold text-gray-700"
        >Subtítulo:</label
      >
      <input
        id="subtitle"
        type="text"
        formControlName="subtitle"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="picture" class="mb-2 font-semibold text-gray-700"
        >Imágen:</label
      >
      <input
        id="picture"
        type="file"
        (change)="onEventFileSelected($event)"
        formControlName="picture"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      />
    </div>
    <div class="flex flex-col">
      <label for="date" class="mb-2 font-semibold text-gray-700">Año:</label>
      <input
        id="date"
        type="date"
        formControlName="date"
        class="p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
      />
      @if(eventForm.get('date')?.invalid && (eventForm.get('date')?.dirty ||
      eventForm.get('date')?.touched)){
      <div class="text-red-600 text-sm">Categoría es requerida.</div>
      }
    </div>

    <div class="flex flex-col">
      <label for="description" class="mb-2 font-semibold text-gray-700"
        >Descripción:</label
      >
      <ckeditor
        formControlName="description"
        [editor]="Editor"
        [config]="editorConfig"
        tagName="textarea"
      ></ckeditor>

      @if(eventForm.get('description')?.invalid &&
      (eventForm.get('description')?.dirty ||
      eventForm.get('description')?.touched)){
      <div class="text-red-600 text-sm">Descripción es requerida.</div>
      }
    </div>

    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-orangeiw text-white py-2 px-4 rounded-md hover:bg-orangeiw focus:outline-none focus:ring-2 focus:ring-orange-500"
      >
        Actualizar Evento
      </button>
    </div>
  </form>
  }
</section>

<app-success
  [show]="showSuccessModal"
  [message]="successMessage"
  (close)="onModalClose()"
></app-success>
